footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 75%;
    }

    p {
        text-align: center;
        color: white;
    }
}