footer {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    div {
        justify-content: right;

        p {
            text-align: center;
            justify-content: right;
        }



    }

    img {
        width: 40%;
    }

    p {
        text-align: center;
        color: white;
    }
}