footer {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    div {
        justify-content: right;

        p {
            text-align: center;
            justify-content: right;
        }



    }

    img {
        width: 40%;
        margin: 10px;
    }

    p {
        text-align: center;
        color: white;
    }
}

@media (max-width: 638px) {
    footer {
        p {
            font-size: small;
        }
    }
}


@media (max-width: 375px) {
    footer {
        p {
            font-size: x-small;
        }
    }

}