form {
    padding: 5%;
    background-color: $color-primary;

}

@media (max-width: 768px) {
    form {
        label {
            font-size: small;
        }
        input {
            font-size: small;
        }

        textarea {
            font-size: small;
        }
    }
}

