nav {


  justify-content: center;

  a {
    text-transform: capitalize;
  }
}




.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

}

.nav-link:hover {
  border: solid 4px white;
  font-size: large;
  border-radius: 10px;

}

@media (max-width: 470px) {

  nav {
    img {
      width: 200px;
    }
  }
}