.tables-tarifa {
    text-align: center;
    font-size: large;
    background-color: rgb(221, 221, 221);
    margin: 20px;
}

table {
    border: orange 5px solid;
    align-content: center;
    margin: auto;
    width: 75%;
    height: 300px;

    tr {

        th {
            border: black 2px solid;
        }
    }
}

.videos-1 {
    padding: 3%;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: grey;

    h1 {
        color: white;
    }
}

@media (max-width: 768px) {

    table {
        th {
            font-size: small;
        }

        tr {
            td {
                font-size: small;
            }

        }
    }
}

iframe{

    width: 100% !important;
    
    }

// @media (max-width: 642px) {
//     .videos-1 {

//         // iframe {
//             width: 330px;
//             height: 185, 625px;
//         }
//     }

