$color-primary:orange ;

$redes: (
    twitter: rgb(124, 124, 182),
    facebook: blue,
    instagram: violet,
);

@each $red, $color in $redes {
    .red-#{$red} {
        color:$color;
    }
}

@import"navbar";
@import"article";
@import"footer";
@import"tables";
@import"galery";
@import"container";
@import"cards";


